In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from IPython.display import display


# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/fit-body-dataset/train.csv

In [19]:
dataset_path = '/kaggle/input/fit-body-dataset/train.csv'
dataset_train = pd.read_csv(dataset_path)

dataset_train.head(20)

,id,age,diet,drinks,drugs,education,ethnicity,height,income,job,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status,fit_body
0,33904,29,NaN,socially,never,graduated from law school,"asian, hispanic / latin, white",69.0,-1,law / legal services,NaN,straight,likes dogs,catholicism,m,aquarius but it doesn&rsquo;t matter,no,"english (fluently), spanish (okay), korean (po...",single,yes
1,35538,19,NaN,NaN,NaN,NaN,other,69.0,-1,NaN,NaN,bisexual,has cats,buddhism,f,taurus,NaN,english,single,no
2,36731,32,mostly anything,socially,NaN,dropped out of college/university,white,69.0,100000,executive / management,NaN,straight,likes dogs and likes cats,christianity but not too serious about it,m,virgo but it doesn&rsquo;t matter,no,english (fluently),single,no
3,16304,36,strictly anything,socially,NaN,graduated from college/university,white,67.0,100000,computer / hardware / software,doesn&rsquo;t have kids,straight,likes dogs,atheism but not too serious about it,m,cancer but it doesn&rsquo;t matter,no,"english (okay), english (fluently), english (p...",single,no
4,19727,22,NaN,socially,never,graduated from college/university,asian,68.0,-1,computer / hardware / software,NaN,straight,NaN,NaN,m,NaN,no,"english, chinese",single,no
5,52660,25,NaN,often,never,graduated from masters program,asian,60.0,-1,banking / financial / real estate,NaN,bisexual,has dogs and likes cats,atheism,f,NaN,yes,"english (fluently), sign language (fluently), ...",single,no
6,5249,30,strictly anything,socially,never,graduated from space camp,"hispanic / latin, white",73.0,40000,construction / craftsmanship,NaN,straight,likes dogs and dislikes cats,agnosticism but not too serious about it,m,cancer and it&rsquo;s fun to think about,no,english,single,yes
7,54288,25,anything,socially,NaN,graduated from college/university,white,74.0,-1,other,NaN,straight,likes dogs,NaN,m,NaN,no,"english (fluently), spanish (okay), portuguese...",available,no
8,16034,26,mostly anything,socially,never,graduated from masters program,asian,68.0,-1,other,NaN,gay,likes dogs and likes cats,NaN,m,capricorn and it&rsquo;s fun to think about,no,"english (fluently), korean (okay)",single,yes
9,42958,65,mostly anything,socially,never,graduated from ph.d program,white,68.0,100000,education / academia,doesn&rsquo;t want kids,straight,has cats,other but not too serious about it,f,libra but it doesn&rsquo;t matter,no,english,single,no
10,5649,27,mostly anything,socially,never,graduated from college/university,white,64.0,-1,sales / marketing / biz dev,"doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,judaism,f,pisces,no,"english (fluently), russian (okay), spanish (o...",single,no
11,33518,34,mostly anything,socially,never,graduated from masters program,hispanic / latin,65.0,-1,science / tech / engineering,"doesn&rsquo;t have kids, but wants them",straight,likes dogs and dislikes cats,catholicism,f,virgo but it doesn&rsquo;t matter,no,"english (fluently), spanish (fluently)",single,no
12,21047,40,mostly vegetarian,socially,sometimes,graduated from masters program,"black, native american, white",69.0,-1,entertainment / media,has a kid,straight,likes dogs and likes cats,buddhism and somewhat serious about it,m,gemini and it&rsquo;s fun to think about,no,"english (fluently), spanish (okay), portuguese...",single,yes
13,18629,43,anything,socially,never,graduated from masters program,white,67.0,-1,NaN,NaN,straight,has cats,other,f,pisces,no,english,single,yes
14,39571,29,NaN,socially,NaN,graduated from college/university,white,72.0,-1,science / tech / engineering,NaN,straight,likes dogs,NaN,m,leo and it&rsquo;s fun to think about,NaN,"english (fluently), spanish (okay)",single,no
15,34972,23,mostly anything,socially,NaN,space camp,hispanic / latin,73.0,-1,other,NaN,straight,likes dogs and likes cats,NaN,m,gemini,no,"english (fluently), spanish (poorly)",single,no
16,44318,29,NaN,socially,never,working on college/university,white,63.0,-1,student,NaN,straight,likes dogs and has cats,NaN,f,scorpio and it&rsquo;s fun to think about,no,english,single,no
17,19656,42,mostly anything,socially,sometimes,graduated from college/university,other,64.0,-1,computer / hardware / software,"doesn&rsquo;t have kids, but might want them",straight,likes dogs and dislikes cats,hinduism and laughing about it,m,cancer and it matters a lot,sometimes,english (fluently),single,no
18,46804,34,NaN,often,NaN,working on ph.d program,white,74.0,-1,education / academia,NaN,gay,NaN,atheism and somewhat serious about it,m,leo and it&rsquo;s fun to think about,yes,"english, italian (fluently), french (poorly)",single,no
19,9689,24,anything,socially,sometimes,graduated from college/university,NaN,65.0,-1,other,"doesn&rsquo;t have kids, but might want them",gay,likes cats,NaN,f,libra and it&rsquo;s fun to think about,yes,"english (fluently), spanish (fluently)",single,no

In [23]:
feature = dataset_train.columns

print(feature)

Index(['id', 'age', 'diet', 'drinks', 'drugs', 'education', 'ethnicity',
       'height', 'income', 'job', 'offspring', 'orientation', 'pets',
       'religion', 'sex', 'sign', 'smokes', 'speaks', 'status', 'fit_body'],
      dtype='object')

In [35]:
# Mendefinisikan variabel dan menghitung jumlah nilai null untuk setiap kolom
null_counts = {
    'age': dataset_train['age'].isnull().sum(),
    'diet': dataset_train['diet'].isnull().sum(),
    'drinks': dataset_train['drinks'].isnull().sum(),
    'drugs': dataset_train['drugs'].isnull().sum(),
    'education': dataset_train['education'].isnull().sum(),
    'ethnicity': dataset_train['ethnicity'].isnull().sum(),
    'height': dataset_train['height'].isnull().sum(),
    'income': dataset_train['income'].isnull().sum(),
    'job': dataset_train['job'].isnull().sum(),
    'sex': dataset_train['sex'].isnull().sum(),
    'smokes': dataset_train['smokes'].isnull().sum()
}

# Mencetak jumlah nilai null untuk setiap kolom dengan label
print("Jumlah nilai null untuk setiap kolom:")
for column, null_count in null_counts.items():
    print(f"{column}: {null_count}")

Jumlah nilai null untuk setiap kolom:
age: 0
diet: 15396
drinks: 1739
drugs: 9245
education: 4257
ethnicity: 3422
height: 0
income: 0
job: 5080
sex: 0
smokes: 3340

In [41]:
# Melihat Value dan menghitung berapa banyak value tersebut muncul pada kolom
null_counts = {
    'age': dataset_train.age.value_counts(dropna=False),
    'diet': dataset_train.diet.value_counts(dropna=False),
    'drinks': dataset_train.drinks.value_counts(dropna=False),
    'drugs': dataset_train.drugs.value_counts(dropna=False),
    'education': dataset_train.education.value_counts(dropna=False),
    'ethnicity': dataset_train.ethnicity.value_counts(dropna=False),
    'height': dataset_train.height.value_counts(dropna=False),
    'income': dataset_train.income.value_counts(dropna=False),
    'job': dataset_train.job.value_counts(dropna=False),
    'sex': dataset_train.sex.value_counts(dropna=False),
    'smokes': dataset_train.smokes.value_counts(dropna=False)
}

# Mencetak 
print("Value untuk setiap kolom:")
for column, null_count in null_counts.items():
    print("")
    print(f"{column}: {null_count}")

Value untuk setiap kolom:

age: age
26    2482
27    2475
25    2386
28    2318
29    2203
30    2077
24    2042
31    1893
32    1734
23    1707
33    1560
34    1348
22    1341
35    1222
36    1071
37    1008
21     897
39     885
38     883
40     720
41     696
42     672
20     623
43     612
44     517
45     466
19     460
46     392
47     368
48     365
49     325
50     264
51     259
52     239
53     205
18     193
56     188
54     179
57     178
55     174
58     158
61     148
59     146
60     136
63      99
62      99
65      82
64      82
66      70
17      67
67      60
68      43
69      14
70       8
Name: count, dtype: int64

diet: diet
NaN                    15396
mostly anything        11920
anything                4485
strictly anything       3658
mostly vegetarian       2397
mostly other             736
strictly vegetarian      597
vegetarian               464
strictly other           317
other                    242
mostly vegan             229
strictly vegan           158
vegan                    103
mostly kosher             62
mostly halal              34
strictly kosher           14
strictly halal            12
halal                      8
kosher                     7
Name: count, dtype: int64

drinks: drinks
socially       28703
rarely          4102
often           3508
not at all      2234
NaN             1739
very often       323
desperately      230
Name: count, dtype: int64

drugs: drugs
never        26056
NaN           9245
sometimes     5250
often          288
Name: count, dtype: int64

education: education
graduated from college/university    16239
graduated from masters program        6260
NaN                                   4257
working on college/university         3897
working on masters program            1140
graduated from two-year college       1073
graduated from high school            1006
graduated from ph.d program            912
working on two-year college            761
graduated from law school              755
dropped out of college/university      690
working on ph.d program                660
college/university                     525
graduated from space camp              481
dropped out of space camp              364
graduated from med school              311
working on space camp                  302
working on law school                  178
two-year college                       165
working on med school                  136
dropped out of two-year college        134
masters program                        102
dropped out of masters program          94
dropped out of ph.d program             86
dropped out of high school              73
high school                             67
working on high school                  66
space camp                              46
ph.d program                            18
law school                              13
dropped out of law school               11
dropped out of med school                9
med school                               8
Name: count, dtype: int64

ethnicity: ethnicity
white                                                                                        22754
asian                                                                                         4128
NaN                                                                                           3422
hispanic / latin                                                                              1958
black                                                                                         1404
                                                                                             ...
asian, middle eastern, black, indian, pacific islander, hispanic / latin, white                  1
asian, middle eastern, black, native american, indian, pacific islander, hispanic / latin        1
middle eastern, pacific islander, hispanic / latin                                               1
asian, native american, hispanic / latin, white, other                                           1
middle eastern, black, native american, white, other                                             1
Name: count, Length: 194, dtype: int64

height: height
70.0    4197
68.0    3726
72.0    3710
69.0    3570
67.0    3568
71.0    3326
66.0    3247
64.0    2630
65.0    2522
73.0    1981
63.0    1791
74.0    1780
62.0    1468
75.0     952
61.0     706
76.0     535
60.0     521
77.0     190
59.0     142
78.0      92
79.0      38
58.0      33
80.0      22
57.0      12
83.0      10
82.0      10
95.0       8
81.0       8
56.0       6
55.0       5
84.0       4
36.0       4
94.0       3
53.0       3
54.0       2
91.0       2
43.0       2
86.0       1
9.0        1
48.0       1
85.0       1
52.0       1
3.0        1
90.0       1
50.0       1
92.0       1
49.0       1
37.0       1
47.0       1
87.0       1
Name: count, dtype: int64

income: income
-1          32649
 20000       2048
 100000      1159
 80000        809
 30000        755
 50000        726
 40000        721
 60000        517
 70000        493
 150000       447
 1000000      366
 250000       115
 500000        34
Name: count, dtype: int64

job: job
other                                5139
NaN                                  5080
science / tech / engineering         3371
student                              3324
computer / hardware / software       3247
artistic / musical / writer          3075
sales / marketing / biz dev          3004
medicine / health                    2553
education / academia                 2418
executive / management               1711
banking / financial / real estate    1550
entertainment / media                1550
hospitality / travel                  962
law / legal services                  941
construction / craftsmanship          744
clerical / administrative             575
political / government                511
rather not say                        297
transportation                        262
retired                               188
unemployed                            186
military                              151
Name: count, dtype: int64

sex: sex
m    24847
f    15992
Name: count, dtype: int64

smokes: smokes
no                30298
NaN                3340
sometimes          2606
when drinking      2068
yes                1535
trying to quit      992
Name: count, dtype: int64

In [58]:
# # Melakukan One-Hot Encoding menggunakan get_dummies()
# encoded_df = pd.get_dummies(dataset_train, columns=['age','diet','drinks','drugs','education','ethnicity','height','income','job','sex','smokes'])

# # Menampilkan hasil One-Hot Encoding
# print(encoded_df)

# encoded_df.head()

from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse=False)
encoded_data = encoder.fit_transform(dataset_train[['age','diet','drinks','drugs','education','ethnicity','height','income','job','sex','smokes']])
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(['age','diet','drinks','drugs','education','ethnicity','height','income','job','sex','smokes']))
print(encoded_df)

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

       age_17  age_18  age_19  age_20  age_21  age_22  age_23  age_24  age_25  \
0         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1         0.0     0.0     1.0     0.0     0.0     0.0     0.0     0.0     0.0
2         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
3         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
4         0.0     0.0     0.0     0.0     0.0     1.0     0.0     0.0     0.0
...       ...     ...     ...     ...     ...     ...     ...     ...     ...
40834     0.0     0.0     0.0     0.0     0.0     0.0     0.0     1.0     0.0
40835     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
40836     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
40837     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
40838     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0

       age_26  ...  job_unemployed  job_nan  sex_f  sex_m  smokes_no  \
0         0.0  ...             0.0      0.0    0.0    1.0        1.0
1         0.0  ...             0.0      1.0    1.0    0.0        0.0
2         0.0  ...             0.0      0.0    0.0    1.0        1.0
3         0.0  ...             0.0      0.0    0.0    1.0        1.0
4         0.0  ...             0.0      0.0    0.0    1.0        1.0
...       ...  ...             ...      ...    ...    ...        ...
40834     0.0  ...             0.0      0.0    1.0    0.0        1.0
40835     0.0  ...             0.0      0.0    0.0    1.0        1.0
40836     0.0  ...             0.0      0.0    0.0    1.0        0.0
40837     0.0  ...             0.0      0.0    0.0    1.0        1.0
40838     0.0  ...             0.0      0.0    1.0    0.0        1.0

       smokes_sometimes  smokes_trying to quit  smokes_when drinking  \
0                   0.0                    0.0                   0.0
1                   0.0                    0.0                   0.0
2                   0.0                    0.0                   0.0
3                   0.0                    0.0                   0.0
4                   0.0                    0.0                   0.0
...                 ...                    ...                   ...
40834               0.0                    0.0                   0.0
40835               0.0                    0.0                   0.0
40836               0.0                    0.0                   0.0
40837               0.0                    0.0                   0.0
40838               0.0                    0.0                   0.0

       smokes_yes  smokes_nan
0             0.0         0.0
1             0.0         1.0
2             0.0         0.0
3             0.0         0.0
4             0.0         0.0
...           ...         ...
40834         0.0         0.0
40835         0.0         0.0
40836         0.0         1.0
40837         0.0         0.0
40838         0.0         0.0

[40839 rows x 404 columns]

In [59]:
y = dataset_train.fit_body

features_names = ['age','diet','drinks','drugs','education','ethnicity','height','income','job','sex','smokes']
X = encoded_df

In [60]:
from sklearn.tree import DecisionTreeRegressor

#For model reproducibility, set a numeric value for random_state when specifying the model
fit_body_model = DecisionTreeRegressor(random_state=1)


# Fit the model
# Fit model
fit_body_model.fit(X, y)

ValueError: could not convert string to float: 'yes'